@model IEnumerable<GameModel>

<table class="table table-sm table-bordered m-2 text-center">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Multiplayer</th>
            <th>Maior De Idade</th>
            <th>Data de Lançamento</th>
            <th><button class="btn btn-warning">Adicionar Game</button></th>
        </tr>
    </thead>
    @foreach (var dado in Model)
    {
        <tr>
            <td>@dado.Nome</td>
            <td>@(dado.Multiplayer == true ? "Sim": "Não")</td>
            <td>@(dado.MaiorDeIdade == true ? "Sim" : "Não")</td>
            <td>
                @dado.DataLancamento.Date <a asp-controller="Details"
                                             asp-action="Index" asp-route-id="@dado.GameId"
                                             class="btn btn-primary ml-2">Saiba mais</a>
        </td>

    </tr>
}
</table>