@model GameModel

<div class="jumbotron-fluid">
    <h1 class="display-3">@Model.Nome</h1>
    <label>Descrição:</label>
    <p>@Model.Descricao</p>
    <hr class="my-2">
    <p>Multiplayer: @(Model.Multiplayer == true ? "Sim": "Não")</p>
    <p>Maior de Idade: @(Model.MaiorDeIdade == true ? "Sim" : "Não")</p>
</div>
<a asp-controller="Delete" asp-action="Index" asp-route-id="@Model.GameId" class="btn btn-danger">Deletar game</a>